<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84538476825-uaaljlog8mh02i02kv3424tc293skhjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84538476825-uaaljlog8mh02i02kv3424tc293skhjf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84538476825-7fp4n5qi8705a7mdctb2ak80dg96el8c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpVgPBL2GBDcXy9nmm6SEyu1vixXFk4g8</string>
	<key>GCM_SENDER_ID</key>
	<string>84538476825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.resmedia.taporty.testflight</string>
	<key>PROJECT_ID</key>
	<string>taporty-779ff</string>
	<key>STORAGE_BUCKET</key>
	<string>taporty-779ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:84538476825:ios:e1596251c89bfb2c39dd88</string>
	<key>DATABASE_URL</key>
	<string>https://taporty-779ff.firebaseio.com</string>
</dict>
</plist>
